.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    padding: 40px;
    background-color: #F39200;
}
#mail {
    padding: 10px;
}

#pswd {
    padding : 10px;
    margin-top: 20px;
}

#button {
    margin-top: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 20px;
    background-color: #F39200;
    border-radius: 20px;
}
.naviagtion-element {
    margin-left: 40px;
    color: antiquewhite;
}

.button {
    border-radius: 5px;
    color: #000000;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 5%;
}

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    .dashboard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-top: 10%;
    }
}

.linechart {
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.tableContent {
    border: black solid;
    border-radius: 10px;
    padding: 20px;
}
.column {
    padding-right: 40px;
    
}

@media only screen and (max-width: 600px) {
    #campaigns th, #campaigns td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    #campaigns th {
      text-align: center;
    }
  }

#campaigns-table {
    margin-top: 5%;
}
.graph {
    margin-top: 10%;
}
.box-unchecked{
    border: solid 1px;
    padding-left: 10px;
    
}